body {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

/* colors */
/* END DEFAULTS */
.table-wrapper {
  position: absolute;
  width: 90%;
  height: 80%;
  overflow: hidden;
}
.table-wrapper .fixed-header-table {
  border-collapse: collapse;
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.table-wrapper .fixed-header-table thead, .table-wrapper .fixed-header-table tbody, .table-wrapper .fixed-header-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.table-wrapper .fixed-header-table thead {
  height: 75px;
  position: absolute;
  top: 0;
  z-index: 10;
  background-color: #00BCD4;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.table-wrapper .fixed-header-table tbody {
  display: block;
  height: 100%;
  overflow-y: auto;
  position: absolute;
  padding-top: 75px;
  box-sizing: border-box;
  color: #757575;
}
.table-wrapper .fixed-header-table tr th, .table-wrapper .fixed-header-table tr td {
  text-align: left;
  border-bottom: 1px solid #E0E0E0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table-wrapper .fixed-header-table tr th {
  font-size: 1.2em;
  font-weight: normal;
  padding: 0 25px;
}
.table-wrapper .fixed-header-table tr td {
  padding: 20px 25px;
}
